.c1{
    background-color: #86b7fe;
    height: 100px;
    width: 50px;
}
.c2{
    background-color: #6f42c1;
    height: 100px;
    width: 100px;
}
.c3{
    background-color: #20c997;
    height: 100px;
    width: 50px;
}